body {
    background-color: khaki;
}
.asd {
    color: red;
}

h1{
    color:lightslategrey;
}

h3{
    color:orange;
}

.box-one {
    background-color: mediumpurple;
    padding: 20px;
    border: 20px solid salmon;
}